@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
html {
    background-image: url(BG.png);
}

.header {
    width: 100%;
    height: 35vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2) 100%);
    box-shadow: -10px 15px 20px #000000, 5px -6px 20px black;
}

.heading1,
.flag {
    display: inline-block;
}

.heading1 {
    text-align: center;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    position: relative;
    left: 370px;
    bottom: 135px;
    word-spacing: 10px;
    color: rgba(255, 255, 255, 0);
    background-size: 200% 100%;
    background-color: #000000;
    cursor: default;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(-72deg, transparent 0, rgba(0, 255, 251, 0.884), rgba(0, 255, 251, 0.986), transparent 10%, transparent 100%);
    animation-name: shinetext;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes shinetext {
    50% {
        background-position: -140% 0;
    }
}

.flag {
    height: 150px;
    padding-top: 30px;
    padding-left: 20px;
    position: relative;
    top: 4px;
}

.view {
    position: absolute;
    top: 0;
    left: 1080px;
    right: 0;
    bottom: 410px;
    perspective: 400;
}

.plane {
    width: 120px;
    height: 120px;
    transform-style: preserve-3d;
}

.plane.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(60deg) rotateZ(-30deg);
    animation: rotate 20s infinite linear;
}

.plane.main .circle {
    width: 120px;
    height: 120px;
    position: absolute;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px rgb(155, 0, 0), inset 0 0 60px rgb(155, 0, 0);
}

.plane.main .circle::before,
.plane.main .circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background: rgb(155, 0, 0);
    box-sizing: border-box;
    box-shadow: 0 0 60px 2px rgb(155, 0, 0);
}

.plane.main .circle::before {
    transform: translateZ(-90px);
}

.plane.main .circle::before {
    transform: translateZ(90px);
}

.plane.main .circle:nth-child(1) {
    transform: rotateZ(72deg) rotateX(63.435deg);
}

.plane.main .circle:nth-child(2) {
    transform: rotateZ(144deg) rotateX(63.435deg);
}

.plane.main .circle:nth-child(3) {
    transform: rotateZ(216deg) rotateX(63.435deg);
}

.plane.main .circle:nth-child(4) {
    transform: rotateZ(288deg) rotateX(63.435deg);
}

.plane.main .circle:nth-child(5) {
    transform: rotateZ(360deg) rotateX(63.435deg);
}

@keyframes rotate {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.today {
    height: 100px;
    width: 49%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2) 100%);
    text-align: center;
    position: relative;
    top: 30px;
    font-family: 'Orbitron', sans-serif;
    margin: auto;
    box-sizing: border-box;
    font-size: x-large;
    box-shadow: 2px 2px 10px rgb(31, 31, 31), -2px -2px 10px rgb(31, 31, 31);
}

.first,
.death {
    display: inline-block;
    width: 49%;
}

.first {
    height: 100px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2) 100%);
    text-align: center;
    position: relative;
    top: 50px;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgb(31, 31, 31), -2px -2px 10px rgb(31, 31, 31);
    font-size: x-large;
}

.death {
    height: 100px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2) 100%);
    text-align: center;
    position: relative;
    top: 50px;
    left: 23px;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgb(31, 31, 31), -2px -2px 10px rgb(31, 31, 31);
    font-size: x-large;
}

.today1 {
    position: relative;
    color: darkorange;
    top: 12px;
    text-shadow: 2px 2px 10px rgb(31, 31, 31);
}

.first1,
.death1 {
    position: relative;
    top: 15px;
    color: darkorange;
    text-shadow: 5px 3px 10px #000000;
}

.total,
.active {
    display: inline-block;
    width: 49%;
}

.total {
    background-color: rgba(255, 217, 0, 0.623);
    position: relative;
    top: 80px;
    height: 120px;
    width: 49%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 25px;
}

.active {
    background-color: rgba(255, 102, 0, 0.623);
    position: relative;
    top: 80px;
    height: 120px;
    width: 49%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 25px;
}

.recover,
.dead {
    display: inline-block;
    width: 49%;
}

.recover {
    background-color: rgba(51, 255, 0, 0.623);
    position: relative;
    top: 90px;
    height: 120px;
    width: 49%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 25px;
}

.dead {
    background-color: rgba(255, 0, 0, 0.623);
    position: relative;
    top: 90px;
    height: 120px;
    width: 49%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 25px;
}

.suspect,
.percent {
    display: inline-block;
    width: 49%;
}

.suspect {
    background-color: rgba(183, 0, 255, 0.623);
    position: relative;
    top: 100px;
    height: 120px;
    width: 49%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 25px;
}

.percent {
    background: linear-gradient(rgba(51, 255, 0, 0.623), rgba(255, 0, 0, 0.623));
    position: relative;
    top: 100px;
    height: 120px;
    width: 49%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 25px;
}

hr {
    border-top: 1px solid grey;
    opacity: 0.5;
    margin: 0;
    width: 550px;
    margin: auto;
    margin-top: 2px;
}
